Package: x11docker
Version: 7.4.2-1
Architecture: all
Priority: optional
Depends: bash
Recommends: nxagent, xserver-xephyr, xdotool, xauth, xinit, xclip, xutils
Suggests: docker, podman, weston, xwayland
Maintianer: CicadaSeventeen on Github
Description: Run GUI applications and desktops in Linux containers

